In [6]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import requests
import json
sns.set()
bmi_data = pd.read_csv("data/BMI-USA.csv",encoding='iso-8859-1') 
diabetes_data = pd.read_csv("data/diabetes-USA.csv")
height_data = pd.read_csv("data/height-USA.csv")
BP_data = pd.read_csv("data/BP-USA.csv")
height_data.head()

,Country,ISO,Sex,Year of birth,Mean height (cm),Mean height lower 95% uncertainty interval (cm),Mean height upper 95% uncertainty interval (cm)
0,United States of America,USA,Men,1896,171.079272,169.888133,172.260045
1,United States of America,USA,Men,1897,171.179657,170.067661,172.293362
2,United States of America,USA,Men,1898,171.280292,170.227214,172.325284
3,United States of America,USA,Men,1899,171.381148,170.392335,172.372466
4,United States of America,USA,Men,1900,171.482114,170.536632,172.430823

In [12]:
height_data["Mean height lower 95% uncertainty interval (cm)"].mean()

168.34434603861382