In [207]:
import os
from lib import get_data
import matplotlib.pyplot as plt
import seaborn as sns
# load the ISO names for countries to use later
country_codes = pd.read_csv(os.path.join("data","countries_codes_and_coordinates.csv"),usecols=[0,1],header=0,names=['country','code'])
#"mobile phone subscriptions per 100 people"
indicator = "IT.CEL.SETS.P2"
#Choosing years from 1990:2015
years="1990:2015"
mobiles = get_data(indicator,years,'all')

# swizzle data around into a table
mobiles = mobiles.set_index('year')
mobiles = mobiles.pivot(columns='country',values='value')
mobiles.fillna(value=0.0,inplace=True)

In [208]:
mobiles.head()

country,ABW,AFG,AGO,ALB,AND,ARE,ARG,ARM,ASM,ATG,...,VGB,VIR,VNM,VUT,WSM,XKX,YEM,ZAF,ZMB,ZWE
year,,,,,,,,,,,,,,,,,,,,,
1990,0.00000,0.0,0.000000,0.0,0.000000,1.805100,0.036664,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.015122,0.0,0.0
1991,0.00000,0.0,0.000000,0.0,0.000000,2.183118,0.075315,0.0,0.000000,0.0,...,0.0,0.0,0.000000,0.000000,0.0,0.0,0.000000,0.018471,0.0,0.0
1992,0.02931,0.0,0.000000,0.0,1.307567,2.344392,0.138433,0.0,1.411490,0.0,...,0.0,0.0,0.001125,0.000000,0.0,0.0,0.011632,0.031783,0.0,0.0
1993,0.00000,0.0,0.008207,0.0,1.279297,3.197691,0.328341,0.0,1.774448,0.0,...,0.0,0.0,0.005595,0.000000,0.0,0.0,0.036883,0.099255,0.0,0.0
1994,0.00000,0.0,0.013178,0.0,1.250858,3.928739,0.697848,0.0,2.316468,0.0,...,0.0,0.0,0.016909,0.038975,0.0,0.0,0.055749,0.824864,0.0,0.0