In [1]:
import pandas as pd
import numpy as np
import os
from lib import get_data
import matplotlib.pyplot as plt
import seaborn as sns
# load the ISO names for countries to use later
#country_codes = pd.read_csv(os.path.join("data","countries_codes_and_coordinates.csv"),usecols=[0,1],header=0,names=['country','code'])
#"Scott - mobile phone subscriptions per 100 people"
indicator1 = "IT.CEL.SETS.P2"
#Ayo - Access to electricity (% of population)
indicator2 = "EG.ELC.ACCS.ZS"
#Neba - CPIA property rights and rule-based governance rating (1=low to 6=high)
indicator3 = "IQ.CPA.PROP.XQ"
#Choosing years from 1990:2015
years="1990:2017"

In [2]:
mobiles = get_data(indicator1, years, 'all')
mobiles.head()

   ISO  Year  IT.CEL.SETS.P2
0  AFG  2017       67.350573
1  AFG  2016       62.335417
2  AFG  2015       58.420528
3  AFG  2014       56.191333
4  AFG  2013       52.966473

In [3]:
electricity = get_data(indicator2, years, 'all')
electricity.head()

   ISO  Year  EG.ELC.ACCS.ZS
0  AFG  2017             NaN
1  AFG  2016       84.137138
2  AFG  2015       71.500000
3  AFG  2014       89.500000
4  AFG  2013       67.259552

In [4]:
governance = get_data(indicator3, years, 'all')
governance.head()

   ISO  Year IQ.CPA.PROP.XQ
0  AFG  2017              2
1  AFG  2016              2
2  AFG  2015            1.5
3  AFG  2014            1.5
4  AFG  2013            1.5

In [5]:
mobiles.rename(columns={"country":"ISO","year":"Year","value":"Mobile Handset Subscription per 100 persons"},inplace=True)

In [6]:
indicators = pd.merge(mobiles,electricity, on=['ISO','Year'])

In [7]:
indicators = indicators.merge(governance, on=['ISO','Year'])

In [8]:
indicators.head()

   ISO  Year  IT.CEL.SETS.P2  EG.ELC.ACCS.ZS IQ.CPA.PROP.XQ
0  AFG  2017       67.350573             NaN              2
1  AFG  2016       62.335417       84.137138              2
2  AFG  2015       58.420528       71.500000            1.5
3  AFG  2014       56.191333       89.500000            1.5
4  AFG  2013       52.966473       67.259552            1.5

In [9]:
indicators.to_pickle('data/indicators.pkl')